<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <title>layout</title>
</head>
<body class="body">
    <header class="header">
        .header
    </header>
    <div class="main">
        <section class="main-content border-white height-m text-align">
            .main-content
        </section>
        <section class="sidebar border-white height-m text-align">
            .sidebar
        </section>
        <section class="twin border-white text-align">
            .twin
        </section>
        <section class="twin border-white text-align">
            . fffffgf
        </section>
    </div>
    <footer class="footer">
        .footer
    </footer>
</body>
</html>